.calendar {
  display: flex;
  flex-wrap: wrap;

  counter-reset: date;

  & :nth-child(n) {
    position: relative;

    width: $size;
    height: $size;

    margin: 0 $gap $gap 0;
    border: 1px solid #000;
    background-color: $cell-color;

    transition: transform 500ms, background-color 500ms;
    cursor: pointer;

    &::after {
      counter-increment: date;
      content: counter(date);

      position: absolute;
      left: 50%;
      top: 50%;

      transform: translate(-50%, -50%);
    }

    &:hover {
      transform: translateY(-20px);
      background-color: pink;
    }
  }
}

@for $j from 28 through 31 {
  .calendar-#{$j} :nth-child(#{$j}) ~ * {
    display: none;
  }
}
